/*------------------------------------*\
  #THEME - color, image, look and feel
\*------------------------------------*/

$primary: #f55b52;
$secondary: #de5ca2;
$angle: 0deg;

body {
    background-color: #FCFCFC;
    
    font-family: 'Quicksand', 'Arial';
    color: #444444;
    font-size: 16px;
}

@mixin shadowed {
  background-color: #FFFFFF;
  box-shadow: 0 13px 25px 0 rgba(48, 79, 254, 0.1);
}

.shadowed {
 @include shadowed;
}

.bordered {
  border: 1px solid #E4E4E4;
}

.card {
  padding: 30px;
  margin-bottom: 25px;
  border-radius: 8px;
  border: 1px solid #E4E4E4;
  background-color: #FFFFFF;
  box-shadow: 0 13px 25px 0 rgba(48, 79, 254, 0.1);
}