/*------------------------------------*\
  #THEME - color, image, look and feel
\*------------------------------------*/

$primary: #865CD6;
$secondary: #FCFCFC;

body {
    background-color: #FCFCFC;
    
    font-family: 'Quicksand', 'Arial';
    color: #444444;
    font-size: 16px;
}
