import * as React from 'react';
import * as ReactDOM from 'react-dom';

class {{ compName }} extends React.Component {
  render() {
   return (
    <div className="placehold">
      <h4>{{ compName }}</h4>
    </div>
   );
 }
}

export default {{ compName }};
